@charset "utf-8";
/* CSS Document */

/*--- Navbar ---*/

#top-navbar {
	background: #0045ab;
}

.nav {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

#navbar-menu .li {
	margin-right: 10px;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-toggle {
    border-color: #0045ab;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #0045ab;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #0045ab;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #0045ab;
}

/*-- Header --*/

#header {
	min-height: 100vh;
	background-color: #0045ab;
	margin-bottom: 0px;
}

#avatar {
	height: 130px;
	width: 130px;
	margin-top: 18vh;
}

#name {
	text-align: center;
	color: #fff;
	margin-top: 7vh;
	font-size: 2.5em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

#i-love {
	text-align: center;
	color: #fff;
	font-family: 'Cousine';
	font-weight: 400;
	margin-top: 5vh;
	font-size: 2.3em;
}

#heart {
	color: #d8353c;
	size: 40px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*-- About --*/

#about {
	min-height: 70vh;
	background-color: #f3f3f3;
}

#about-me-label {
	color: #000;
	font-size: 4em;
	font-weight: bold;
}

#about-me-content {
	margin-top: 7vh;
	margin-bottom: 7vh;
}

.about-me-label {
	font-family: 'Cousine', monospace;
}

.about-me-roles {
	color: #aaaaaa;
	font-size: 2.5em; 
}

#about-me-labels-container {
	margin-top: 4.5vh;
}

/*-- Portfolio --*/

#portfolio-container {
	margin-top: 7vh;
	margin-bottom: 7vh;
}

#work-label {
	color: #000;
	font-size: 4em;
	font-weight: bold;
	font-family: 'Cousine', monospace;
}

.project-preview-image {
	width: 100%;
}

#projects-container {
	margin-top: 4vh;
}

.project-title {
	margin-top: 20px;
	color: #0045ab;
	font-size: 1.5em;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

.project {
	margin-bottom: 40px;
}

/*-- Pictures --*/

#pictures-container {
	padding: 0;
}

#me-picture {
	width: 100%;
}
